*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.04rem;
	font-family: 'Poppins', sans-serif;
}

section.volunteer-page {
	margin: 1rem auto;
	width: fit-content;
	padding: 0.3rem;
}

body > section > h3 {
	font-size: 2.5rem;
	text-align: center;
	margin: 0;
	margin-top: 1rem;
	color: crimson;
}

.volunteer-page .container {
	margin: 0.5rem 0 1.5rem 0;
}

.profile {
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	width: fit-content;
	margin: auto;
}

.profile img {
	object-fit: cover;
	margin-right: 0.3rem;
	width: 80px;
	/* border-radius: 50%; */
}

.profile-info p {
	font-size: 1.1rem;
	padding: 0.4rem;
}

body > section > div.content > div.contributions > h2 {
	font-size: 1.4rem;
	text-align: center;
	color: crimson;
	margin-bottom: 0.5rem;
}

.content .contributions {
	width: 100%;
}

.content .contributions table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}
.content .contributions table tr {
	border-bottom: 1px solid #eee;
}
.content .contributions table th {
	border: 1px solid #eee;
	padding: 0.4rem 0.5rem 0.4rem 0.5rem;
	font-size: 1.1rem;
	text-align: left;
}
.content .contributions table td {
	border: 1px solid #eee;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

body > section > div.interests > h2 {
	font-size: 1.4rem;
	color: crimson;
	margin: 2rem 0 0.5rem;
}
body > section > h3:nth-child(5) {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}
ol {
	list-style: none;
}

@media only screen and (max-width: 600px) {
	.profile-info p {
		font-size: 0.9rem;
	}
	.content {
		display: flex;
		max-width: 97vw;
		justify-content: space-evenly;
	}
	.content .contributions table th {
		border: 1px solid #eee;
		padding: 0.4rem 0.5rem 0.4rem 0.5rem;
		font-size: 0.9rem;
		text-align: left;
	}
	.content .contributions table td {
		border: 1px solid #eee;
		padding: 0.2rem 0.4rem;
		font-size: 0.8rem;
	}

	body > section > div.interests > h2 {
		font-size: 1.2rem;
		color: crimson;
		margin: 2rem 0 0.5rem;
	}
	body > section > h3:nth-child(5) {
		font-size: 1.3rem;
		margin-bottom: 2rem;
	}
	section.volunteer-page {
		margin: 1rem auto;
		width: fit-content;
	}
	body > section > div.content > div.contributions > h2 {
		font-size: 1rem;
		text-align: left;
		color: crimson;
		margin-bottom: 0.5rem;
	}
	body > section > h3:nth-child(5) {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
	.profile-info p {
		font-size: 1rem;
		padding: 0.4rem;
	}
}
